#conteudo {
    transition: opacity 0.5s;
}

.frase {
    font-size: 60px;
    font-family: 'QuickLove', cursive;
}

.inicio {
    font-size: 65px;
    font-family: 'AgniaMisel', cursive;

}

.nome {
    font-family: 'QuickLove', cursive;
    
    src: url('QuickLove.ttf');
}

.emojis {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;  
    pointer-events: none;
    overflow: hidden;
}

.emoji {
    position: absolute;
    opacity: 0.5;
    animation: flutuar linear forwards;
}

@keyframes flutuar {
    0% {
        transform: translateY(100vh) translateX(0px) rotate(0deg);
        opacity: 0;
    }
    20% {
        opacity: 0.6;
    }
    100% {
        transform: translateY(-10vh) translateX(var(--x-move)) rotate(360deg);
        opacity: 0;
    }
}

.saindo {
    animation: sair 0.4s forwards;
}

.entrando {
    animation: entrar 0.4s forwards;
}

@keyframes sair {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes entrar {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#contador {
    position: fixed;   
    bottom: 20px;      /* distância do rodapé */
    left: 20px;        /* distância da lateral esquerda */
    font-size: 14px;
    font-size: 14px;
    opacity: 0.5;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    pointer-events: none; /* não interfere em clique ou teclado */
    z-index: 1000;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    pointer-events: none; /* evita interferir na tela */
    z-index: 1000;
}

.toolbar {
    display: flex;
    gap: 10px;
    pointer-events: auto; /* permite clicar nos botões */
}

.toolbar button {
    background: rgba(255,255,255,0.2);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    backdrop-filter: blur(5px);
    transition: 0.3s;
}

.toolbar button:hover {
    background: rgba(255,255,255,0.4);
}